
__pycache__/
*.py[cod]
*$py.class


.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

.env
.env.*


# VS Code
.vscode/
.history/




# macOS
.DS_Store



*.log


*.pid
*.sock

pip-log.txt
pip-delete-this-directory.txt


*.egg
*.egg-info/
dist/
build/
.eggs/



htmlcov/
.tox/
.coverage
.coverage.*
.cache
pytest_cache/
nosetests.xml
coverage.xml
*,cover


docker-compose.override.yml
docker-compose.*.yml
*.env.docker


*.swp
*.swo
*~
nginx/production.conf
